dist/
node_modules/
.pocket/
npm-debug.log*
.idea/

# Ignore docs output but not configuration files
docs/
!docs/*conf.js*

# Assets folder contains copyrighted video game cover art / graphics, thus is excluded from the repo
src/assets/games/
src/assets/fonts/

