$color-dark: #323232;
$color-dark-alt: #414141;
$color-neutral: #ddd;
$color-light: #fefefe;
$color-lightest: white;
$color-primary: #1bb9ff;
$color-secondary: #686868;
$color-accent: #02fccc;
$color-active: #9c0;
$color-selected: #4dc0dd;
$color-focus: #3fe9d3;
$color-focus-alt: #04b9c3;
$color-selected-alt: rgba(mix($color-selected, $color-dark), .9);
$color-assertive: #ff762e;
$color-brand: #e60012;
$color-background: #2d2d2d;
$color-background-alt: #505050;
$color-btn-background: #1f2227;

$gradient-selected: linear-gradient(135deg, #8ffdfc 0%, #32c5d9 33%, $color-selected 50%, #47aed7 66%, #1083c6 100%);
$gradient-background: linear-gradient(to bottom, $color-background 0%, $color-background-alt, 100%);
$gradient-background-alt: linear-gradient(to top, $color-background 0%, $color-background-alt, 100%);

$font-family-title: 'Oxygen';
$font-family-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-system: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-family-sans-serif: $font-family-title, 'Lato', 'Open Sans', $font-family-system;

$font-size-base: 18px;
$line-height-base: 1.5;

$size-base: 15px;
$size-btn-fab: 2.25rem;
$size-border-radius: 4px;
$size-game-cover: 256px;
$size-game-cover-max: 512px;

$padding-container: $size-base;

$media-screen-xs: 320px;
$media-screen-sm: 480px;
$media-screen-md: 720px;

$zindex-toolbar: 100;
$zindex-modal: 200;
$zindex-cover: 2;
