///
/// Game Votes
/// @author Jason Gardner <holler@jasongardner.co>
///
@import 'variables';
@import 'mixins';
@import '~normalize.css/normalize.css';

:root {
	--color-background: #{theme('background')};
	--color-background-alt: #{theme('background-alt')};
	--color-btn-background: #{theme('btn-background')};
	--color-modal-background: #{rgba(theme('modal-background'), .75)};
	--color-dialog-background: #{rgba(theme('dialog-background'), .95)};
	--color-tooltip-background: #{rgba(theme('background-alt'), .95)};
	--color-app-header: #{rgba(theme('background'), .95)};
	--color-accent: #{theme('accent')};
	--color-primary: #{theme('primary')};
	--color-primary-alt: #{mix(theme('btn-background'), theme('accent'), 25%)};
	--color-secondary: #{theme('secondary')};
	--color-assertive: #{theme('assertive')};
	--color-info: #{theme('primary')};
	--color-focus: #{mix(theme('accent'), theme('primary'))};
	--color-selected: #{$color-selected};
	--color-lightest: #{theme('lightest')};
	--color-muted: #{theme('muted')};
	--color-border: var(--color-lightest);
	--color-text: #{theme('light')};
	--color-link: #{theme('light')};
	--color-link-hover: #{theme('lightest')};
	--color-link-active: #{theme('secondary')};
	--color-input: #{$color-dark};
	--color-btn: #{$color-dark};
	--color-btn-alt: #{theme('lightest')};
	--color-fab: #{theme('fab')};
	--color-fab-active: #{$color-dark};
	--color-title: var(--color-text);
	--color-title-active: var(--color-primary);
	--size-base: #{$size-base};
	--size-gap: #{$size-gap};
	--size-icon: #{$size-icon};
	--size-app-icon: #{$size-app-icon};
	--size-fab: #{$size-btn-fab};
}

.light-scheme {
	--color-background: #{theme('background', 'light')};
	--color-background-alt: #{theme('background-alt', 'light')};
	--color-tooltip-background: white;
	--color-app-header: #{rgba(theme('background', 'light'), .96)};
	--color-accent: #{theme('accent', 'light')};
	--color-primary: #{theme('primary', 'light')};
	--color-primary-alt: #{mix(theme('btn-background', 'light'), theme('accent', 'light'), 25%)};
	--color-info: #2576bc;
	--color-input: #{theme('light', 'light')};
	--color-link: #{theme('link', 'light')};
	--color-btn: #{theme('lightest', 'light')};
	--color-btn-alt: #{theme('light', 'light')};
	--color-background-fab: #{theme('lightest', 'light')};
	--color-fab: #{theme('fab', 'light')};
	--color-fab-active: var(--color-lightest);
	--color-border: #cdcdcd;
	--color-text: #{theme('background', 'dark')};
	--color-title: var(--color-primary);
	--color-title-active: var(--color-text);
	--color-background-table-row: #eaeaea;
	--color-background-table-row-alt: #efefef;
}

:focus {
	outline: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

@import 'animations';
@import 'utilities';
@import 'button';
@import 'scrollbar';

.backdrop-visible {
	overflow: hidden;
}

.list-striped {
	dt,
	dt ~ dd {
		background-color: var(--color-background-table-row);
	}


	&:nth-child(even) {
		background-color: var(--color-background-table-row-alt);
	}
}

html {
	font-size: 100%;
	height: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	display: flex;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	flex-flow: column nowrap;
	height: 100%;
	margin: 0;
	min-width: $media-screen-min;
	overflow: hidden;
	padding: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

a {
	color: var(--color-link);
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--color-link-hover);
	}

	&:active {
		color: var(--color-link-active);
		text-decoration: underline;
	}
}

h5 {
	margin-bottom: var(--size-base);
	margin-top: var(--size-base);
}

blockquote {
	color: var(--color-muted);
	margin-left: var(--size-gap);
	padding-left: var(--size-base);
	position: relative;

	&::before {
		background-color: var(--color-accent);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: var(--size-gap);
	}
}
