///
/// Game Votes
/// @author Jason Gardner <holler@jasongardner.co>
///
@import 'variables';
@import 'mixins';

:root {
	--color-background: #{theme('background')};
	--color-background-alt: #{theme('background-alt')};
	--color-btn-background: #{theme('btn-background')};
	--color-modal-background: #{rgba(theme('modal-background'), .75)};
	--color-dialog-background: #{rgba(theme('dialog-background'), .95)};
	--color-tooltip-background: #{rgba(theme('background-alt'), .95)};
	--color-app-header: #{rgba(theme('background'), .95)};
	--color-accent: #{theme('accent')};
	--color-primary: #{theme('primary')};
	--color-primary-alt: #{mix(theme('btn-background'), theme('accent'), 25%)};
	--color-secondary: #{theme('secondary')};
	--color-assertive: #{theme('assertive')};
	--color-info: #{theme('primary')};
	--color-focus: #{mix(theme('accent'), theme('primary'))};
	--color-selected: #{$color-selected};
	--color-lightest: #{theme('lightest')};
	--color-muted: #{theme('muted')};
	--color-border: var(--color-lightest);
	--color-text: #{theme('light')};
	--color-link: #{theme('light')};
	--color-link-hover: #{theme('lightest')};
	--color-link-active: #{theme('secondary')};
	--color-input: #{$color-dark};
	--color-btn: #{$color-dark-alt};
	--color-btn-alt: #{theme('lightest')};
	--color-fab: #{theme('fab')};
	--color-fab-active: #{$color-dark};
	--color-title: var(--color-text);
	--color-title-active: var(--color-primary);
	--color-blockquote: #{lighten(theme('muted'), 50%)};
	--shadow-focus: 0 0 0 var(--size-gap) #{$color-focus};
	--shadow-focus-alt: 0 0 0 var(--size-gap) #{$color-focus-alt};
	--size-base: #{$size-base};
	--size-gap: #{$size-gap};
	--size-icon: #{$size-icon};
	--size-app-icon: #{$size-app-icon};
	--size-fab: #{$size-btn-fab};
}

.light-scheme {
	--color-background: #{theme('background', 'light')};
	--color-background-alt: #{theme('background-alt', 'light')};
	--color-tooltip-background: white;
	--color-app-header: #{rgba(theme('background', 'light'), .96)};
	--color-accent: #{theme('accent', 'light')};
	--color-primary: #{theme('primary', 'light')};
	--color-primary-alt: #{mix(theme('btn-background', 'light'), theme('accent', 'light'), 25%)};
	--color-info: #2576bc;
	--color-input: #{theme('light', 'light')};
	--color-link: #{theme('link', 'light')};
	--color-link-hover: #{darken(theme('primary', 'light'), 10%)};
	--color-btn: #{theme('lightest', 'light')};
	--color-btn-alt: #{theme('light', 'light')};
	--color-btn-background: #{theme('background-alt', 'light')};
	--color-background-fab: #{theme('lightest', 'light')};
	--color-fab: #{theme('fab', 'light')};
	--color-fab-active: var(--color-lightest);
	--color-border: #{theme('border', 'light')};;
	--color-text: #{theme('background', 'dark')};
	--color-title: var(--color-primary);
	--color-title-active: var(--color-text);
	--color-blockquote: var(--color-muted);
	--color-background-table-row: #eaeaea;
	--color-background-table-row-alt: #efefef;
}

:focus {
	outline: 0;
}

* {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

@import 'animations';
@import 'utilities';
@import 'button';
@import 'scrollbar';

.backdrop-visible {
	overflow: hidden;
}

.dl--horizontal {
	display: flex;

	dt,
	dd {
		margin: 0;
		padding: var(--size-gap);
		vertical-align: middle;
	}

	dt {
		flex: 1 0 33%;
		max-width: calc(#{$media-screen-xs} - (2 * var(--size-base)) - (2 * var(--size-gap)));
	}

	dd {
		flex: 2 1 50%;
	}
}

.dl--striped {
	dt,
	dt ~ dd {
		background-color: var(--color-background-table-row);
	}

	&:nth-child(even) {
		background-color: var(--color-background-table-row-alt);
	}
}

.header,
.footer {
	align-items: center;
	border-bottom: 1px solid var(--color-border);
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	min-height: calc((2 * var(--size-gap)) + var(--size-app-icon));
	padding: var(--size-gap) var(--size-base);

	#{$--hn} {
		color: currentColor;
	}
}

.footer {
	border-bottom: none;
	border-top: 1px solid var(--color-border);
}

.container {
	padding: var(--size-gap) var(--size-base);
	margin: 0;
	width: 100%;
}

html {
	-ms-overflow-style: scrollbar;
	font-size: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	display: flex;
	font: #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	flex-flow: column nowrap;
	height: 100%;
	margin: 0;
	min-width: $media-screen-min;
	overflow: hidden;
	padding: 0;
}

input[type='number'] {
	appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}

a {
	color: var(--color-link);
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--color-link-hover);
	}

	&:active {
		color: var(--color-link-active);
		text-decoration: underline;
	}
}

h5 {
	margin-bottom: var(--size-base);
	margin-top: var(--size-base);
}

blockquote {
	background-color: var(--color-background-blockquote, var(--color-background-table-row));
	color: var(--color-blockquote, var(--color-text));
	margin-left: var(--size-gap);
	padding: var(--size-gap) var(--size-base);
	position: relative;

	&::before {
		background-color: var(--color-info);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: background-color .5s ease-in-out;
		width: var(--size-gap);
	}

	&:hover::before,
	&:focus-within::before {
		background-color: var(--color-accent);
	}
}
