///
/// Game Votes
/// @author Jason Gardner <holler@jasongardner.co>
///
@import 'variables';
@import 'mixins';
@import '~normalize.css/normalize.css';

:root {
	--color-background: #{theme('background')};
	--color-background-alt: #{theme('background-alt')};
	--color-btn-background: #{theme('btn-background')};
	--color-modal-background: #{rgba(theme('modal-background'), .75)};
	--color-dialog-background: #{rgba(theme('dialog-background'), .95)};
	--color-tooltip-background: #{rgba(theme('background-alt'), .95)};
	--color-app-header: #{rgba(theme('background'), .95)};
	--color-accent: #{theme('accent')};
	--color-primary: #{theme('primary')};
	--color-primary-alt: #{mix(theme('btn-background'), theme('accent'), 25%)};
	--color-secondary: #{theme('secondary')};
	--color-assertive: #{theme('assertive')};
	--color-focus: #{mix(theme('accent'), theme('primary'))};
	--color-selected: #{$color-selected};
	--color-lightest: #{theme('lightest')};
	--color-muted: #{theme('muted')};
	--color-border: var(--color-lightest);
	--color-text: #{theme('light')};
	--color-link: #{theme('light')};
	--color-link-hover: #{theme('lightest')};
	--color-link-active: #{theme('secondary')};
	--color-input: #{$color-dark};
	--color-btn: #{$color-dark};
	--color-btn-alt: #{theme('lightest')};
	--color-fab: #{theme('fab')};
	--color-fab-active: #{$color-dark};
	--color-title: var(--color-text);
	--color-title-active: var(--color-primary);
	--size-base: #{$size-base};
	--size-gap: #{$size-gap};
	--size-app-icon: #{$size-app-icon};
	--size-fab: #{$size-btn-fab};
}

.light-scheme {
	--color-background: #{theme('background', 'light')};
	--color-background-alt: #{theme('background-alt', 'light')};
	--color-tooltip-background: white;
	--color-app-header: #{rgba(theme('background', 'light'), .96)};
	--color-accent: #{theme('accent', 'light')};
	--color-primary: #{theme('primary', 'light')};
	--color-primary-alt: #{mix(theme('btn-background', 'light'), theme('accent', 'light'), 25%)};
	--color-input: #{theme('light', 'light')};
	--color-link: #{theme('link', 'light')};
	--color-btn: #{theme('lightest', 'light')};
	--color-btn-alt: #{theme('light', 'light')};
	--color-background-fab: #{theme('lightest', 'light')};
	--color-fab: #{theme('fab', 'light')};
	--color-fab-active: var(--color-lightest);
	--color-border: #cdcdcd;
	--color-text: #{theme('background', 'dark')};
	--color-title: var(--color-primary);
	--color-title-active: var(--color-text);
	--color-background-table-row: #eaeaea;
	--color-background-table-row-alt: #efefef;
}

@keyframes focus {
	0%,
	100% {
		box-shadow: 0 0 5px rgba(0, 0, 0, .05), 0 0 0 5px $color-focus;
	}

	50% {
		box-shadow: 0 0 5px rgba(0, 0, 0, .05), 0 0 0 5px $color-focus-alt;
	}
}

@keyframes ripple {
	to {
		transform: scale(10, 10);
		opacity: .3;
	}
}

.fade-enter-active {
	transition: opacity .3s ease-in;
}

.fade-leave-active {
	transition: opacity .5s ease-out;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.jump-enter-active {
	animation: jump .2s;
	transition: opacity .5s ease-out;
}

.jump-leave-active {
	animation: jump .2s reverse;
}

@keyframes jump {
	0% {
		transform: translateY(10px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

.focus,
.h-focus:hover,
.h-focus:focus,
.h-focus:focus-within,
.h-focus:active {
	animation: focus 1s infinite;
}

.sr-only {
	display: none;
}

.rotate {
	&--90 {
		transform: rotate(90deg);
	}
}

.d-flex {
	display: flex;
	flex-flow: row wrap;

	&.nowrap {
		flex-wrap: nowrap;
	}
}

.flex-column {
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.align--center {
	align-items: center;
}

.text--accent,
.btn.text--accent,
tr.text--accent td {
	color: var(--color-accent);
}

.text--center {
	text-align: center;
}

.text--secondary {
	color: var(--color-secondary);
}

.text--muted {
	color: var(--color-muted);
}

/// Margin and padding side IDs
/// @access private
/// @type {Map}
/// @property {String} t [top] - Top side label
/// @property {String} b [bottom] - Bottom side label
/// @property {String} r [right] - Right side label
/// @property {String} l [left] - Left side label
$sides: (
	t: top,
	b: bottom,
	r: right,
	l: left
);

/// Generate spacing helpers
@each $side in map-keys($sides) {
	@for $itr from 0 through 5 {
		.m#{$side}-#{$itr} {
			margin-#{map-get($sides, $side)}: ($itr * $size-gap);
		}
	}

	.m#{$side}-auto {
		margin-#{map-get($sides, $side)}: auto;
	}
}

.btn {
	-webkit-appearance: none;
	background-color: var(--color-background-alt);
	border: 0;
	border-radius: $size-border-radius;
	box-sizing: border-box;
	color: var(--color-btn, var(--color-text));
	cursor: pointer;
	line-height: 1.5;
	padding: .333em .5em;
	transition: background-color .333s ease-in-out;
	user-select: none;

	&:hover,
	&:focus,
	&:active {
		color: var(--color-border);
		outline: none;
	}

	&:focus,
	&:active {
		animation: focus 1s infinite;
	}

	&--primary {
		background-color: var(--color-accent);
		color: var(--color-btn);

		&:hover,
		&:focus,
		&:active {
			background-color: var(--color-primary-alt);
			color: var(--color-btn-alt);
		}
	}

	&--fab {
		align-items: center;
		background-color: var(--color-background-fab, var(--color-background-alt));
		border-radius: 50%;
		box-shadow: -1px 1px .25rem rgba(0, 0, 0, .5), 0 0 .333rem rgba(0, 0, 0, .33);
		color: var(--color-fab);
		display: flex;
		height: var(--size-fab);
		justify-content: center;
		line-height: 1;
		text-align: center;
		transition: background-color .3s ease-out, color .3s ease-out, box-shadow .5s ease-out, transform .666s cubic-bezier(.175, .885, .32, 1.275);
		width: var(--size-fab);

		svg {
			stroke: currentColor;
		}

		&:hover,
		&:focus,
		&:active {
			background-color: var(--color-selected);
			color: var(--color-fab-active);
			outline: none;
		}

		&:active {
			box-shadow: 0 2px .275rem rgba(0, 0, 0, .45), 0 0 .555rem rgba(0, 0, 0, .3);
			transform: translateY(-3px);
		}
	}
}

.backdrop-visible {
	overflow: hidden;
}

.scrollbar {
	overflow: auto;

	&::-webkit-scrollbar-track {
		background-color: var(--color-background-alt);
		border-radius: $size-border-radius;
		box-shadow: inset 0 0 .275rem rgba(0, 0, 0, .3);
	}

	&::-webkit-scrollbar {
		height: var(--size-gap);
		width: var(--size-gap);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba($color-dark, .333);
		border-radius: $size-border-radius;
		margin: 1px;
		transition: background-color .5s ease-out;

		&:hover {
			background-color: rgba($color-dark, .9);
		}
	}
}

.ripple {
	overflow: visible;
	position: relative;
	transform: translate3d(0, 0, 0);

	&::after {
		background: transparent radial-gradient(circle, var(--color-accent) 10%, transparent 10.01%) no-repeat 50%;
		animation: ripple 1s infinite;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

html {
	font-size: 100%;
	height: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	display: flex;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	flex-flow: column nowrap;
	height: 100%;
	margin: 0;
	min-width: $media-screen-min;
	overflow: hidden;
	padding: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

a {
	color: var(--color-link);
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--color-link-hover);
	}

	&:active {
		color: var(--color-link-active);
		text-decoration: underline;
	}
}

h5 {
	margin-bottom: var(--size-base);
	margin-top: var(--size-base);
}

blockquote {
	color: var(--color-muted);
	margin-left: var(--size-gap);
	padding-left: var(--size-base);
	position: relative;

	&::before {
		background-color: var(--color-accent);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: var(--size-gap);
	}
}
