@import 'variables';
@import url('https://fonts.googleapis.com/css?family=#{$font-family-title}:300,400,700');
@import '~normalize.css/normalize.css';

@keyframes focus {
	0%,
	100% {
		box-shadow: 0 0 5px rgba(0, 0, 0, .05), 0 0 0 5px $color-focus;
	}

	50% {
		box-shadow: 0 0 5px rgba(0, 0, 0, .05), 0 0 0 5px $color-focus-alt;
	}
}

.focus,
.h-focus:hover,
.h-focus:focus,
.h-focus:focus-within,
.h-focus:active {
	animation: focus 1s infinite;
}

.sr-only {
	display: none;
}

.rotate {
	&--90 {
		transform: rotate(90deg);
	}
}

.d-flex {
	display: flex;
	flex-flow: row wrap;

	&.nowrap {
		flex-wrap: nowrap;
	}
}

.flex-column {
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.text--accent,
.btn.text--accent,
tr.text--accent td {
	color: $color-accent;
}

.text--center {
	text-align: center;
}

.text--secondary {
	color: #999;
}

$sides: (
	t: top,
	b: bottom,
	r: right,
	l: left
);

@each $side in map-keys($sides) {
	@for $itr from 0 through 5 {
		.m#{$side}-#{$itr} {
			margin-#{map-get($sides, $side)}: ($itr * $size-base);
		}
	}

	.m#{$side}-auto {
		margin-#{map-get($sides, $side)}: auto;
	}
}

//.callout {
//	position: relative;
//
//	&::before {
//		background-color: $color-accent;
//		content: '';
//		display: block;
//		height: 100%;
//		left: 0;
//		position: absolute;
//		top: 0;
//		width: 3px;
//	}
//}

.btn {
	-webkit-appearance: none;
	background-color: $color-background-alt;
	border: 0;
	border-radius: $size-border-radius;
	box-sizing: border-box;
	color: $color-light;
	cursor: pointer;
	line-height: 1.5;
	padding: .333em .5em;
	transition: background-color .333s ease-in-out;
	user-select: none;

	&:hover,
	&:focus,
	&:active {
		color: $color-lightest;
		outline: none;
	}

	&--primary {
		background-color: $color-accent;
		color: $color-dark;

		&:hover,
		&:focus,
		&:active {
			background-color: mix($color-btn-background, $color-accent, 25%);
			color: $color-dark-alt;
		}
	}

	&--fab {
		align-items: center;
		border-radius: 50%;
		box-shadow: -1px 1px 3px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .33);
		color: $color-light;
		display: flex;
		height: $size-btn-fab;
		justify-content: center;
		text-align: center;
		transition: background-color .3s ease-in-out, box-shadow .5s ease-out, transform .666s cubic-bezier(.175, .885, .32, 1.275);
		width: $size-btn-fab;

		svg {
			stroke: currentColor;
		}

		&:hover,
		&:focus,
		&:active {
			background-color: $color-selected;
			color: $color-dark;
			outline: none;
		}

		&:active {
			box-shadow: 0 2px 5px rgba(0, 0, 0, .45), 0 0 10px rgba(0, 0, 0, .3);
			transform: translateY(-3px);
		}
	}
}

html {
	font-size: 100%;
	height: 100%;
}

body {
	background-color: $color-background;
	display: flex;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	color: $color-light;
	flex-flow: column nowrap;
	height: 100%;
	margin: 0;
	min-width: $media-screen-min;
	padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

a {
	color: $color-light;
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $color-lightest;
	}

	&:active {
		color: $color-secondary;
		text-decoration: underline;
	}
}

h5 {
	margin-bottom: $size-base;
	margin-top: $size-base;
}
